/* Media menu */

@media (max-width: 767px) {
  .icon-1, .icon-2, .icon-3 {
    position: absolute;
    right: 25%;
    top: 50%;
    width: 32px;
    height: 3px;
    background-color: $color-two;
    transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
  }

  .icon-1 {
    transform: translateY(-8px);
    animation-delay: 100ms;
  }

  .icon-3 {
    transform: translateY(8px);
    animation-delay: 250ms;
  }

  .media-menu-icon {
    position: absolute;
    height: 60px;
    width: 60px;
    top: 2%;
    right: 2%;
    z-index: 9;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
  }

  .media-menu-icon:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    /*border: $color-four;
    border-style: solid;
    border-width: 3px;*/
  }

  .icon-1.a {
    transform: rotate(40deg);
  }

  .icon-3.b {
    transform: rotate(-40deg);
  }

  .icon-2.c {
    opacity: 0;
  }

  .clear {
    clear: both;
  }

  @keyframes slideIn {
    0% {
      width: 0%;
      transform: scale(0.3);
      opacity: 0;
    }

    100% {
      width: 50%;
      transform: scale(1);
      opacity: 1;
    }
  }

  .menu.media-menu {
    //background: #D4D9DB;
    background: rgba(0,0,0,0);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0%;
    z-index: 8;
    opacity: 0;
    transition: all 600ms cubic-bezier(0.62, 0.04, 0.3, 1.56);
    transition-delay: 100ms;
  }

  .menu.media-menu ul {
    margin: 0;
    position: absolute;
    top: 15%;
    right: 25%;
    padding: 0px 30px;
    text-align: justify;
  }

  .menu.media-menu ul li {
    list-style: none;
    font-size: 22px;
    color: $color-one;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .menu.media-menu ul li a {
    text-decoration: none;
    color: $color-two;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0px 45px 0px 0px;
    font-weight: bold;
  }

  .menu.media-menu ul li a:hover {
    background: transparent;
    text-decoration: none;
    border-style: none;
    background-color: transparent;
    color: $color-two;
  }

  .menu.media-menu.show {
    width: 50%;
    opacity: 1;
  }

  .media-menu-color {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(250, 250, 250, 0.9);
    //background: $color-one;
    //background: rgba(119, 119, 119, 0.9);
    height: 100%;
    width: 0%;
    transition: all 500ms cubic-bezier(0.62, 0.04, 0.3, 1.8);
    transition-delay: 50ms;
    z-index: 7;
    opacity: 1;
  }

  .media-menu-color.slide {
    width: 100%;
    opacity: 1;
  }

  @keyframes shotup {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }

    90% {
      transform: translateY(-50px);
    }

    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
}
